// Colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(177, 179, 180);
$color-lightgray: rgb(235, 236, 236);
$color-darkgray: rgb(30, 28, 30);
$color-lightblue: rgb(220, 240, 250);
$color-blue: rgb(8, 31, 44);
$color-yellow: rgb(219, 226, 0);
$color-highlight: $color-yellow;
$color-font: $color-blue;

// Font weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font families
$font-family-regular: "MetricWeb-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-bold: "MetricWeb-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Base Font
$font-family-base: $font-family-regular;
$font-weight-base: $font-weight-regular;
$font-size-base: 16px;
$line-height-base: 1.625;
$font-color-base: $color-font;

// Headings
$font-family-header: "Jaapokki-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-header: $font-weight-regular;